<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner" ng-show="isLoggedIn()">
	<div class="container">
		<h1>Welcome to GIFchat</h1>
		<div ng-hide="chosenPrivate">
			<p class="lead" ng-hide="dateEntered">Enter the username of your friend below!</p>
			<input type="text" ng-model="usernameFriend" class="form-control">
			<button type="submit" ng-click="setFriendUsername(usernameFriend)" class="btn btn-default">Submit</button>
		</div>
		<div ng-show="chosenPrivate">
			<p class="lead">Please enter your message below...always be polite!</p>
			<input type="text" ng-model="userMessage" class="form-control">
			<button type="submit" ng-click="addMessage(userMessage)" class="btn btn-default">Send Message</button>
		</div>
	</div>
	<br>
	<div>
	  	<button type="button" class="btn btn-default btn-lg">
  			<span class="glyphicon glyphicon-globe"></span> Global Message
	  	</button>
	  	<button type="button" class="btn btn-default btn-lg">
	  		<a>
  			<span class="glyphicon glyphicon-envelope"></span> Private Message
	  	</button>
	</div>
</header>
<header class="hero-unit" id="banner" ng-hide="isLoggedIn()">
	<div class="container">
		<h1>Welcome to GIFchat</h1>
		<p class="lead" ng-hide="dateEntered">Please login or signup to have full access!</p>
	</div>
	<br>
	<div>
		<a href="/login">
		  	<button type="button" class="btn btn-default btn-lg">
	  			<span class="glyphicon glyphicon-globe"></span>Sign in!
		  	</button>
		</a>
	  	<a href="/signup">
	  		<button type="button" class="btn btn-default btn-lg" href="/signup">
  				<span class="glyphicon glyphicon-envelope"></span>Sign up
	  		</button>
	  	</a>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="scroll-table">
				<table class="table table-striped">
				<thead>
			        <tr>
			            <th>Username</th>
			            <th>Message</th>
			        </tr>
			    </thead>
				    <tbody>
				        <tr ng-repeat="user in messages">
				            <td>{{user.$id}}</td>
				            <td><p ng-repeat="texts in user">{{texts.username}} : {{texts.text}}</p></td>
				            <!-- <img class="giffy" src="{{message.text}}"/> -->
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>
	</div>
</div>

